.topbar-menu-area .topbar-menu .label-before.fa-mobile,
.topbar-menu-area .topbar-menu .label-before.fa-mobile,
.product-style-1 .product-info .product-name:hover,
.wrap-vertical-nav li a:hover,
.header-nav-section li>a:hover,
.topbar-menu-area .topbar-menu ul li a:hover,
.product-style-2 .product-info .product-name:hover span,
.product .product-info .product-name:hover span,
.wrap-footer-item .wrap-hotline-footer .phone-number,
.back-link-box  .list-back-link li a:hover,
.coppy-right-box .coppy-right-text a:hover,
.wrap-nav.horizontal-nav .link-term:hover,
.change-display-mode .display-mode:hover i::before,
.change-display-mode .display-mode.active i::before,
.ui-slider+p button:hover,
.vertical-list li a.active,
.center-section .wrap-search-form,
.wrap-login-item .form-item input[type="checkbox"] + span::after,
.post-footer .post-tags ul li,
.wrap-iten-in-cart .products-cart .product-name a:hover,
.summary .checkout-info .link-to-shop:hover,
.wrap-product-detail .detail-info .quantity-input input,
.widget-our-services .service a>i,
.product-style-1 .product-info .wrap-btn a,
.wrap-breadcrumb ul a:hover,
.center-section .wrap-search-form .wrap-list-cate .list-cate li:not(.level-0):hover{
	color: #ff2832;
}

.widget a:hover,
.product-list-style .advance-info .wrap-btn .btn:hover,
.product-list-style .advance-info .wrap-btn .btn:hover::before,
.product .product-info .product-rating .count-review:hover,
.product-list-style .advance-info .stock-info.in-stock p b,
.wrap-login-item .form-item .link-function:hover,
.wrap-articles article .info .post-attrs li a:hover,
.wrap-articles article .info .post-attrs li a.link-commnet-post:hover::before,
.wrap-articles article .info .post-name:hover .art-title,
.widget.search-post button[type=submit]:hover i,
.wrap-product-detail .detail-info .wrap-btn .btn:hover,
.wrap-product-detail .detail-info .wrap-btn .btn:hover::before,
.widget.filter-widget .vertical-list li a::after
{
	color: #ff2832 !important;
}

.product-style-1 .product-info .wrap-btn a::after,
.primary .menu-item.active,
.center-section .wrap-search-form button,
.wrap-banner .banner-link,
.wrap-main-slide .slide-1 .btn-link,
.wrap-main-slide .slide-3 .btn-link,
.product-style-2 .product-thumnail .wrap-btn .function-link:hover,
.wrap-footer-content .wrap-function-info,
.wrap-newletter-footer .btn-submit,
.wrap-footer-item .social-network ul li a:hover,
.product-style-3 a.add-to-cart:hover,
.widget.filter-widget .inline-round li a:hover,
.widget.filter-widget .inline-round li a.active,
.wrap-login-item .form-item .btn,
.wrap-contacts .contact-box input[type="submit"],
.wrap-icon-box .icon-box-item i,
.aboutus-info.style-small-left .list-showups label input[type="radio"]:checked + span.check-box,
.wrap-pagination-info .page-numbers li .page-number-item.current,
.wrap-articles article .info a.btn-to-post:hover,
.checkout-info .btn-checkout,
.post-footer .comment-form fieldset.input-field input[type=submit],
.wrap-product-detail .advance-info .tab-control a.active,
#review_form_wrapper #review_form .comment-form p.form-submit input[type=submit],
.wrap-product-detail .detail-info .wrap-butons .add-to-cart:hover,
.wrap-product-detail .detail-info .quantity-input .btn:hover,
.summary-item .btn,
.choose-payment-methods .payment-method input[type=radio]:checked + span::before,
.main-info-area .right-section .wrap-icon-section.minicart .index{
	background: #ff2832;
}
.has-child-cate .toggle-control:hover::after,
.has-child-cate .toggle-control:hover::before,
.widget.filter-widget .vertical-list li a.btn-control:hover::before,
.product-list-style .advance-info .add-to-cart:hover,
.detail-media .flex-control-nav .owl-nav button:hover,
.wrap-iten-in-cart .products-cart .quantity .quantity-input .btn:hover,
.wrap-pagination-info .page-numbers li .page-number-item:hover{
	background: #ff2832 !important;
}
.flex-control-thumbs img.flex-active,
.wrap-product-detail .advance-info .tab-control a.active,
.wrap-product-detail .detail-info .quantity-input .btn:hover,
.wrap-product-detail .detail-info .wrap-butons .add-to-cart:hover,
.product-widget-style .thumbnnail a:hover img,
.choose-payment-methods .payment-method input[type=radio]:checked + span::before,
.wrap-demo-item-1:hover img,
.center-section .wrap-search-form{
	border-color: #ff2832;
}
.widget.widget-tag-clouds ul li a:hover,
.product-list-style .advance-info .add-to-cart:hover,
.product-style-3 a.add-to-cart:hover,
.widget.filter-widget .inline-round li a:hover,
.widget.filter-widget .inline-round li a.active,
.wrap-pagination-info .page-numbers li .page-number-item.current,
.wrap-pagination-info .page-numbers li .page-number-item:hover,
.aboutus-info.style-small-left .list-showups label input[type="radio"]:checked + span.check-box,
.wrap-articles article .info a.btn-to-post:hover,
.wrap-footer-content .wrap-function-info .fc-info-item{
	border-color: #ff3c45 !important;
}
.wrap-footer-content .wrap-function-info .fc-info-item .wrap-left-info .fc-desc{
	color: #ffc2c4 !important;
}
